.searchBar {
    margin: 100px;
    display: inline-flex;
    flex-direction: column;
}

input {
    width: 35rem;
    height: 6rem;
    border-radius: 10px;
}

button {
    margin-top: 1.5rem;
    width: 33%;
    height: 2.5rem;
    align-self: center;
    cursor: pointer;
    border-radius: 7px;
}