.searchBar {
    margin: 30px;
    display: inline-flex;
    flex-direction: column;
}

input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    width: 33%;
    align-self: center;
    cursor: pointer;
    border-radius: 5px;
}